body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* #mplsPhoto {
    background:  url('/images/city-skyline-719951_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px 700px;
    margin-top: -80px;
} */

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

#logoLogin {
    background:  url('/images/logoLogin.png');
    background-size: 400px 300px;
    height: 300px;
    width: 400px;
    margin-top: -525px;
    margin-left: 60px;

}

form {
    background-color: #cce1f4;
    width: 250px;
    height: 200px;
    margin: 250px auto;
    padding: 25px;
    border-radius: 2px;
    letter-spacing: 2px;

}

#textLogin {
    margin-left: 40px;
}

#textUsername {
    margin-left: 40px;
}

#textPassword {
    margin-left: 40px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 108px;

}

input[type="submit"] {
    width: 60px;
    margin: 10px;
    margin-left: 105px;

}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

#navLogo {
    background:  url('/images/logoLogin.png');
    background-size: 240px 160px;
    height: 160px;
    width: 240px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

#welcome {
    margin-left: 108px;
    margin-top: -45px;
    padding: 10px;
}

#logoutButton {
    margin-left: 90%;
    width: 80px;
}

/* ----------admin page ----------- */


#adminTextTopOfPage {
    margin-left: 5%;
}

#inputFieldSearch {
    margin-left: 76%;
    width: 800px;
}

#searchButtons {
    margin-left: 10px;
    width: 80px;
}

#editButton {
    width: 25px;
}

/* -------------- table on admin page ------------- */

table, th, td {
    border: 1px solid black;
}

#searchTableResults {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    border-collapse: collapse;
}
#tablePartnerCell {
width: 10px;
}

#tableFormattedCell {

}

#tableGenderCell {

}

#tableBirthCell {

}

#tablePocCell {

}

#tableEducationCell {

}

#tableCityCell {

}

#tableScholarshipCell {

}

#tablePreviousJobCell {

}

#tablePreTrainingWageCell {

}

#tableStartDateCell {

}

#tableTrainingStatusCell {

}

#tableEndDateCell {

}

#tableTrainingTypeCell {

}

#tableClassroomOrOnlineCell {

}

#tableExitStatusCell {

}

#tableEditButtonCell {

}
