body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

/* ----------- login ------------- */

#logoLogin {
    background:  url('/images/logoLogin.png');
    background-size: 400px 300px;
    height: 300px;
    width: 400px; 
}

.logInForm {
    background-color: #cce1f4;
    width: 250px;
    height: 200px;
    padding: 25px;
    border-radius: 2px;
    letter-spacing: 2px;
margin-left: 45px;
}

#textLogin {
    margin-left: 40px;
}

#textUsername {
    margin-left: 40px;
}

#textPassword {
    margin-left: 40px;
}

.logInInput {
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 108px;

}

input[type="submit"] {
    width: 60px;
    margin: 10px;
    margin-left: 105px;

}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.wrapperGridLogin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 100px;
    margin-left: auto;
}

.wrapperGridPhotoLogin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 100px;
    margin-left: auto;
}

#loginPhoto {
    background:  url('/images/city_photo_two.jpg');
    background-size: 83% auto;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: 50px
}

/* -------------- ----------------- */

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

#navLogo {
    background:  url('/images/logoLogin.png');
    background-size: 240px 160px;
    height: 160px;
    width: 240px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

#welcome {
    margin-left: 108px;
    margin-top: -45px;
    padding: 10px;
}

#logoutButton {
    margin-left: 90%;
    width: 80px;
}

/* ----------- */
selectedPartnerTable

/* Edit Partner Page */

#editPartnerPage {
    text-align: center;
}

#selectedPartnerTable {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

#selectedPartnerTable td,
#selectedPartnerTable th {
    padding: 3px 8px;
    border: 1px solid #333;
}

#editPartnerPage form {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.formGroup {
    padding: 10px 0;
}


.formGroup label {
    padding-right: 10px;

}

/* Modal Form */

#textSelectPartner {
    color: #555555;
    font-size: 16px;
}


/* ----------admin page ----------- */


#adminTextTopOfPage {
    margin-left: 5%;
}

#inputFieldSearch {
    margin-left: 20%;
    margin-right: 20%;
}

#searchButtons {
    margin-left: 10px;
    width: 80px;
}

/* -------------- table on admin page ------------- */

table, th, td {
    border: 1px solid black;
}

#searchTableResults {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    border-collapse: collapse;
}
#tablePartnerCell {
width: 10px;
}

/* -------------- student edit table on admin page ------------- */

#studentFieldSearch {
    /* margin-left: 76%; */
    /* width: 800px; */
    margin-bottom: 40px;
}

#searchStudentTableResults {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    border-collapse: collapse;
}

#editStudentButtons {
    margin-left: 3%;
    margin-right: 10px;
    width: 80px;
}

#editButton { 
    width: 25px;
}

/* -------------- Multi-purpose quick-style class names -------------- */

.il-block {
    display: inline-block;
}