body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.appWrap {
    width: 85%;
    margin: 0 auto;
}

/* ----------- login ------------- */

#logoLogin {
    background: url('/images/logoLogin.png');
    background-size: 400px 300px;
    height: 300px;
    width: 400px; 
}

.logInForm {
    background-color: #cce1f4;
    width: 250px;
    height: 200px;
    padding: 25px;
    border-radius: 25px;
    letter-spacing: 2px;
    margin-left: 45px;
    color: #555555;
    font-size: 14px;
}

#textLogin {
    margin-left: 25px;
}

#textUsername {
    margin-left: 25px;
}

#textPassword {
    margin-left: 25px;
}

.logInInput {
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 108px;

}

input[type="submit"] {
    width: 60px;
    margin: 10px;
    margin-left: 105px;

}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.wrapperGridLogin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 60px;
    margin-left: 175px;
    grid-gap: 20px;
    width: 80%;
}

#loginPhotoCity {
    background:  url('/images/city_photo_two.jpg');
    background-size: 100%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
    margin-top: 8px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#photoPathwayLoginPage {
    background:  url('/images/pathway.jpg');
    background-size: 100%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
    margin-top: 30px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* -------------- ----------------- */

.MuiToolbar-root-8 {
    background:  url('/images/pathway.jpg');
    background-size: 100%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
}

.MuiIconButton-label-15 {
    background: white;
    height: 45px;
    border-radius: 25px;

}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

#navLogo {
    background:  url('/images/logoLogin.png');
    background-size: 240px 160px;
    height: 160px;
    width: 240px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

#welcome {
    margin-left: 108px;
    margin-top: -45px;
    padding: 10px;
}

#logoutButton {
    margin-left: 90%;
    width: 80px;
}

/* Edit Partner Page */

.MuiPaper-root-67 MuiPaper-elevation2-71 MuiPaper-rounded-68 {
    width: 80%;
}

#selectedPartnerTable {
    text-align: center;
    border-collapse: collapse;
    margin-left: 20px;
}

#selectedPartnerTable td,
#selectedPartnerTable th {
    border: 1px solid #ccc;
}

#selectPartnerTableHead {
    background: rgb(176, 189, 99);
}

#editPartnerPage form {
    width: 60%;
    text-align: left;
}

.formGroup {
    padding: 10px 0;
}

.formGroup label {
    padding-right: 10px;
}

.textSelectPartner {
    color: #555555;
    font-size: 21px;
    margin-left: 20px;
    margin-top: 15px;
}

#selectedPartnerDropDown {
    width: 320px !important;
    height: 40px !important;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#selectedPartnerDropDown:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#addNewPartnerButton {
    width: 320px;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#addNewPartnerButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#editPartnerInformationButton {
    width: 320px;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 15px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#editPartnerInformationButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

.factsWrapperPartnerStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-left: 20px;
}

.factsBubblePartnerStats {
    background: rgb(176, 189, 99);
    height: 300px; 
    width: 300px;   
    border-radius: 50%;
    letter-spacing: 2px;
    text-align: center;
    align-content: center;
    margin: auto;
    font-size: 1.2em;
}

.factsBubblePartnerStats h3 {
    padding-top: 80px;
}

#selectedPartnerStatsDiv {
    margin-top: 120px;
}




/* ----------admin page ----------- */

#searchTextTopOfPage {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    margin: 20px;
}

#inputFieldSearch {
    margin-left: 20px;
}

#fieldSearch {
    width: 320px;
}

#addSearch {
    width: 320px;
}

#searchButtons {
    width: 320px;
    height: 40px;
    font-size: 12px;
    color: black;
    margin: 10px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#searchButtons:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

.MuiTableCell-root-158 {
    padding: 5px !important;
}

/* -------------- table on admin page ------------- */

table, th, td {
    border: 1px solid #ccc;
}

#tableHeader {
    background: rgb(176, 189, 99);
}

#onHoverTableHighlight{
    background: whitesmoke;
}

#onHoverTableHighlight:hover {
    background: rgb(204, 225, 244);
}

#searchTableResults {
    width: 90%;
    min-width: 975px;
    margin: 20px;
    text-align: center;
    font-size: 10px;
    border-collapse: collapse;
}

#cellWidthAdminTable {
    width: 10px;
}

.jsonButton {
    width: 320px;
    height: 40px;
    font-size: 12px;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

.jsonButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#pagesPerSearchDisplay {
    color: #555555;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

/* -------------- student edit table on admin page ------------- */

#studentFieldSearch {
    margin-bottom: 40px;
}

#searchStudentTableResults {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 12px;
    border-collapse: collapse;
    
}

#editStudentButtons {
    margin-left: 3%;
    margin-right: 10px;
    width: 80px;
}

#editButton { 
    width: 25px;
}

/* -------------- Multi-purpose quick-style class names -------------- */

.il-block {
    display: inline-block;
}

/* -------------- Summary Page ------------- */

#summaryPage {
    text-align: center;
}

.summaryText {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    margin: 20px;
    text-align: left;
}

.factsWrapperStudentGraphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-left: 20px;
}

 /* {

    maxWidth: 600,
    height: 300,
    margin: '0 auto',
    padding: 30,
    display: 'inline-block',
} */

.graphDisplaySummaryPage {
    width: 600;
    height: 600;
    margin: '0 auto';
    padding: 30;
    display: 'inline-block';


    /* background-size: 100%;
    height: 150px;
    min-width: 975px;
    margin-top: 8px; */

    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

.wageGrowthDivBlue {
    display: inline-block;
    max-width: 340px;
    background: rgba(1, 164, 215, 0.6);
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
    color: #555555;
}

.wageGrowthDivGreen {
    display: inline-block;
    max-width: 340px;
    background: rgb(176, 189, 99);
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
    color: #555555;
}

/* ---------- Partner Page ---------- */

.partnerTextTopOfPage {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    margin: 20px;
} 

.partnerTextDownloadFiles {
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

.chooseFilePartnerPageButton {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    .chooseFilePartnerPageButton + label {
    /* width: 320px;
    height: 40px; */
    font-size: 30px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
    }
    
    .chooseFilePartnerPageButton + label:hover {
            background: rgb(1, 164, 215);
            box-shadow: 2px 2px 10px 1px  #555555;
        }
 
#photoPartnerPage {
    background:  url('/images/pathway.jpg');
    background-size: 90%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: 20px;
}

#partnerTableResults {
    width: 80%;
    margin-left: 20px;
    text-align: center;
    font-size: 12px;
    border-collapse: collapse;
}

/* ------- need to edit partner table dynamics and input button ------- */

/* table, th, td {
    border: 1px solid #ccc;
}

#tableHeader {
    background: rgb(176, 189, 99);
}

#onHoverTableHighlight{
    background: whitesmoke;
}

#onHoverTableHighlight:hover {
    background: rgb(204, 225, 244);
}

#searchTableResults {
    width: 90%;
    min-width: 975px;
    margin: 20px;
    text-align: center;
    font-size: 10px;
    border-collapse: collapse;
}

#cellWidthAdminTable {
    width: 10px;
} */
