body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.appWrap {
    width: 85%;
    margin: 0 auto;
}

.buttonDiv {
    margin-top: 20px;
    text-align: center;
}

.buttonDiv :last-child{
    margin-left: 20px;
}

/* ----------- login ------------- */

#logoLogin {
    background: url('/images/logoLogin.png');
    background-size: 400px 300px;
    height: 300px;
    width: 400px; 
}

.logInForm {
    background-color: #cce1f4;
    width: 250px;
    height: 200px;
    padding: 25px;
    border-radius: 25px;
    letter-spacing: 2px;
    margin-left: 45px;
    color: #555555;
    font-size: 14px;
}

#textLogin {
    margin-left: 25px;
}

#textUsername {
    margin-left: 25px;
}

#textPassword {
    margin-left: 25px;
}

.logInInput {
    margin: 5px;
    margin-bottom: 10px;
    margin-left: 108px;
}

input[type="submit"] {
    width: 60px;
    margin: 10px;
    margin-left: 105px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.wrapperGridLogin {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 60px;
    margin-left: 225px;
    grid-gap: 20px;
    width: 80%;
}

#loginPhotoCity {
    background:  url('/images/city_photo_two.jpg');
    background-size: 100%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
    margin-top: 8px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#photoPathwayLoginPage {
    background:  url('/images/pathway.jpg');
    background-size: 100%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
    margin-top: 30px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* -------------- Navbar ----------------- */

div [class*='MuiToolbar-root'] {
    background:  url('/images/pathway.jpg');
    background-size: 100%;
    height: 150px;
    min-width: 975px;
    background-repeat: no-repeat;
}

button [class*='MuiIconButton-label'] {
    background: white;
    height: 45px;
    border-radius: 25px;

}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

#navLogo {
    background:  url('/images/logoLogin.png');
    background-size: 240px 160px;
    height: 160px;
    width: 240px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: #eee;
}

#welcome {
    margin-left: 108px;
    margin-top: -45px;
    padding: 10px;
}

#logoutButton {
    margin-left: 90%;
    width: 80px;
}

/* ----------admin page ----------- */

#searchTextTopOfPage {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
}

.advanced-search {
    width: 320px !important;
    height: 40px !important;
    font-size: 12px;
    margin-left: 30px;
    margin-top: 15px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}
    
.advanced-search:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
} 

#searchSubmit {
    width: 160px;
    height: 40px;
    font-size: 12px;
    color: black;
    margin-left: 30px;
    margin-top: 20px;

    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#searchSubmit:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

.MuiTableCell-root-158 {
    padding: 5px !important;
}

#addNewAdmin {
    width: 160px;
    height: 40px;
    font-size: 12px;
    margin-left: 30px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}
    
#addNewAdmin:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

/* -------------- table on admin page ------------- */

table, th, td {
    border: 1px solid #ccc;
}

#tableHeader {
    background: rgb(176, 189, 99);
}

#onHoverTableHighlight{
    background: whitesmoke;
}

#onHoverTableHighlight:hover {
    background: rgb(204, 225, 244);
}

#searchTableResults {
    width: 90%;
    min-width: 975px;
    margin: auto;
    text-align: center;
    font-size: 10px;
    border-collapse: collapse;
}

#cellWidthAdminTable {
    width: 10px;
}

/* -------------- Summary Page ------------- */

#summaryPage {
    text-align: center;
}

.summaryText {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: -45px;
    text-align: left;
}

.factsWrapperStudentGraphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-left: 20px;
}

.wageGrowthDivBlue {
    display: inline-block;
    max-width: 340px;
    background: rgba(1, 164, 215, 0.6);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    color: #555555;
}

.wageGrowthDivGreen {
    display: inline-block;
    max-width: 340px;
    background: rgb(176, 189, 99);
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    color: #555555;
}

/* ------------ Edit Partner Page ---------- */

#selectedPartnerTable {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

#selectedPartnerTable td,
#selectedPartnerTable th {
    border: 1px solid #ccc;
}

#selectPartnerTableHead {
    background: rgb(176, 189, 99);
}

#editPartnerPage form {
    text-align: left;
}

.formGroup {
    padding: 3px 0;
}

.formGroup label {
    padding-right: 10px;
    width: 250px;
    display: inline-block;
    text-align: right;
}

.formGroup input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 20px auto 0;
    width: 50%;
}

.formGroupNewUser label {
    padding-right: 10px;
}

.formGroupNewUser input{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px; 
    margin: 20px auto 0;
    width: 50%;
}

#newOrgPhoneOne,
#newOrgPhoneTwo,
#newOrgPhoneThree {
    display: inline-block;
    margin-right: 7px;
}

#newOrgPhoneOne,
#newOrgPhoneTwo {
    width: 40px;
}

#newOrgPhoneThree {
    width: 50px;
}

.textSelectPartner {
    color: #555555;
    font-size: 21px;
    margin-top: 20px;
    margin-left: -45px;
}

#selectedPartnerDropDown {
    width: 320px !important;
    height: 40px !important;
    font-size: 12px;
    margin-top: 20px;
    margin-left: -45px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#selectedPartnerDropDown:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#addNewPartnerButton {
    width: 320px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: -45px;
    margin-bottom: -100px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#addNewPartnerButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#editPartnerInformationButton {
    width: 320px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: -45px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#editPartnerInformationButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

.factsWrapperPartnerStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    margin-left: 20px;
}

.factsBubblePartnerStats {
    background: rgb(176, 189, 99);
    height: 200px; 
    width: 200px;   
    border-radius: 10px;
    letter-spacing: 2px;
    text-align: center;
    align-content: center;
    margin: auto;
    font-size: 1.2em;
}

.factsBubblePartnerStats h3 {
    padding-top: 80px;
}

#selectedPartnerStatsDiv {
    margin-top: 50px;
}

.selectedPartnerStatsText {
    margin-top: -20px;
    color: #3d3d3d;
    font-size: 20px;
}

/* ---------- Partner Page ---------- */

#photoPartnerPage {
    background:  url('/images/pathway.jpg');
    width: 95%;
    min-width: 910px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-left: 30px;
}

#logOutButton {
    background: rgb(204, 225, 244);
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px  #ccc;
}

#logOutButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

.partnerTextTopOfPage {
    color: #555555;
    font-size: 21px;
    font-weight: bold;
    margin-left: 30px;
} 

.partnerTextDownloadFiles {
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}

.chooseFilePartnerPageButton {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    margin-bottom: 20px;
}

.chooseFilePartnerPageButton + label {
    font-size: 20px;
    color: #555555;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}
    
.chooseFilePartnerPageButton + label:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#partnerTableResults {
    width: 90%;
    min-width: 975px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    border-collapse: collapse;
}

/* This is called Wildcard CSS! */
tr [class*='MuiTableCell-root'] {
    padding: 5px !important;
}

/* ------------- Form Buttons ----------- */

.buttonEnterForms {
    background: rgb(204, 225, 244);
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px  #ccc;
}

.buttonEnterForms:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
} 

.buttonCloseForms {
    background: rgb(204, 225, 244);
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px  #ccc;
}

.buttonCloseForms:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
} 

/* ----------- Download CSV button and pagination ------------ */

.jsonButton {
    width: 160px;
    height: 40px;
    font-size: 12px;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgb(204, 225, 244);
    box-shadow: 2px 2px 10px 1px  #ccc;
}

.jsonButton:hover {
    background: rgb(1, 164, 215);
    box-shadow: 2px 2px 10px 1px  #555555;
}

#pagesPerSearchDisplay {
    color: #555555;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

/* -------------- Multi-purpose quick-style class names -------------- */

.il-block {
    display: inline-block;
}